// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
  1: 1%,
  2: 2%,
  3: 3%,
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
  98: 98%,
);
