// variables

// === colors ===
$text--color: #555;
$theme--color: #209;
$secondary--color: #234;
$ternary--color: #568;
$link--color: #841;
$menu__item--color: #fff;

// === fonts ===

// === sizes ===
$wrapper-width: 90%;
$wrapper-margin: 0 auto;

// === miscelleneous ===
