// variables

// === colors ===
$text--color: #555;
$theme--color: #209;
$secondary--color: #234;
$ternary--color: #568;
$link--color: #841;
$menu__item--color: #fff;

// === fonts ===

// === sizes ===

// === miscelleneous ===
// colors
$container-color: #f8f8f8;
$links-color: #777;
