@use "../sass-utils/variables" as var;

header {
  .container {
    background-color: var.$container-color;

    .row {
      padding: 0 1.4rem;
    }
  }

  a,
  li {
    color: var.$links-color;
    font-weight: 500;
    padding: 1.4rem 0;
  }
}

.intro-header {
  .container {
    background-image: url("https://picsum.photos/1200/500");
    background-size: cover;
  }

  .wrap.headline {
    padding-top: 20%;
    padding-bottom: 20%;
  }
}
